<div class="pt-8">
  <h1 class="font-semibold pb-2 text-2xl text-gray-900 dark:text-gray-200">{{'label.exibindo_resultados_para_x' | translate: {pesquisa: this.search} | capitalize}}</h1>
  <div *ngIf="loading" class="h-[80%] w-full flex justify-center items-center">
    <mat-spinner class=""></mat-spinner>
  </div>
  <div class="w-full h-[80%]">
    <app-list
      [list]="list"
      [icons]="iconsList"
      (saveItem)="save($event)"
    ></app-list>
  </div>
  <div class="flex justify-end">
    <p-paginator (onPageChange)="handleNextOrPrevious($event)" [first]="first" [rows]="rows" [totalRecords]="totalItens" [showFirstLastIcon]="false" ></p-paginator>
  </div>
</div>

