<div class="flex gap-3 h-full w-full justify-center bg-white dark:bg-slate-800">
  <div class="fixed top-0 bottom-0 left-[16%] flex">
    <button
      (click)="changePage('previous')"
      class="text-gray-900 dark:text-gray-200"
      [ngClass]="{'text-gray-900': disabledPrevious}"
      [disabled]="disabledPrevious"
    >
      <fa-icon icon="chevron-left" class=""></fa-icon>
    </button>
  </div>
  <ng-content></ng-content>
  <div class="fixed top-0 bottom-0 right-[2%] flex">
    <button
      (click)="changePage('next')"
      class="text-gray-900 dark:text-gray-200"
      [ngClass]="{'text-gray-900': disabledNext}"
      [disabled]="disabledNext"
    >
      <fa-icon icon="chevron-right" class=""></fa-icon>
    </button>
  </div>
</div>
