<div class="px-8 flex justify-between w-full py-2">
  <p class="text-xs font-normal">© 2023 Super <strong class="text-[#dd1313]">Trailers</strong>. Todos os direitos reservados.</p>
  <div class="flex gap-2">
    <fa-icon class="text-[#9e9ea7] hover:text-[#dd1313] text-sm" [icon]="['fab', 'facebook']"></fa-icon>
    <fa-icon class="text-[#9e9ea7] hover:text-[#dd1313] text-sm" [icon]="['fab', 'twitter']"></fa-icon>
    <fa-icon class="text-[#9e9ea7] hover:text-[#dd1313] text-sm" [icon]="['fab', 'youtube']"></fa-icon>
    <fa-icon class="text-[#9e9ea7] hover:text-[#dd1313] text-sm" [icon]="['fab', 'twitch']"></fa-icon>
  </div>
</div>
