<div class="flex flex-col h-full py-8 pl-4 gap-8 relative bg-white dark:bg-slate-800 font-normal">
  <div class="flex flex-col justify-start items-center pr-1">
    <img src="../../../../assets/images/logo.png" alt="" class="w-[70px]">
    <a [routerLink]="['/']" class="text-[#8b7070] font-semibold text-2xl">{{'movie search' | capitalize:true}}</a>
  </div>
 <div class="flex flex-col gap-2">
  <span class="text-gray-400">{{'label.menu' | translate | capitalize }}</span>
  <a class="ml-2 text-gray-500 dark:text-gray-300" href="" [routerLink]="['/discover']" routerLinkActive="border-r-4 border-solid border-red-500 text-gray-900 dark:text-gray-200">
    <fa-icon icon="home" routerLinkActive="text-red-500"></fa-icon>
    {{'label.descobrir' | translate | capitalize }}
  </a>
  <a [routerLink]="['/emCartaz']" class="ml-2 text-gray-500 dark:text-gray-300" routerLinkActive="border-r-4 border-solid border-red-500 text-gray-900 dark:text-gray-200">
    <fa-icon icon="ticket" routerLinkActive="text-red-500"></fa-icon>
    {{'label.em_cartaz' | translate | capitalize }}
  </a>
  <a [routerLink]="['/proximos']" class="ml-2 text-gray-500 dark:text-gray-300" routerLinkActive="border-r-4 border-solid border-red-500 text-gray-900 dark:text-gray-200">
    <fa-icon icon="step-forward" routerLinkActive="text-red-500"></fa-icon>
    {{'label.em_breve' | translate | capitalize }}
  </a>
  <a [routerLink]="['/user/favoritos']" class="ml-2 text-gray-500 dark:text-gray-300" routerLinkActive="border-r-4 border-solid border-red-500 text-gray-900 dark:text-gray-200">
    <fa-icon icon="heart" routerLinkActive="text-red-500"></fa-icon>
    {{'label.favoritos' | translate | capitalize }}
  </a>
  <a [routerLink]="['/user/listaInteresses']" class="ml-2 text-gray-500 dark:text-gray-300" routerLinkActive="border-r-4 border-solid border-red-500 text-gray-900 dark:text-gray-200">
    <fa-icon icon="bookmark" routerLinkActive="text-red-500"></fa-icon>
    {{'label.lista_interesses' | translate | capitalize }}
  </a>
 </div>
 <div class="flex flex-col gap-2">
  <span class="text-gray-400">{{'label.configurations' | translate | capitalize }}</span>
  <a class="ml-2 text-gray-500 dark:text-gray-300" [routerLink]="['/user/perfil']" routerLinkActive="border-r-4 border-solid border-red-500 text-gray-900 dark:text-gray-200">
    <fa-icon icon="user" routerLinkActive="text-red-500"></fa-icon>
    {{'label.perfil' | translate | capitalize }}
  </a>
  <div class="ml-2 text-gray-500 dark:text-gray-300 flex gap-2">
    <fa-icon icon="flag"></fa-icon>
    <button mat-button [matMenuTriggerFor]="menu">{{'label.idioma' | translate | capitalize }}</button>
    <mat-menu #menu="matMenu">
      <button (click)="changeLanguage(idioma.value)" *ngFor="let idioma of optionsLanguage" mat-menu-item>{{idioma.label}}</button>
    </mat-menu>
  </div>
 </div>
 <div class="absolute bottom-4">
  <mat-slide-toggle [color]="'warn'" [checked]="darkThemeActive" class="text-gray-500 dark:text-gray-400 " (click)="changeTheme()">{{'label.tema' | translate  | capitalize }}</mat-slide-toggle>
 </div>
</div>
